.discountImage{
    max-width: 8%;
    height: auto;
}

.redText{
    color: red;
}

.commentSection{
    margin-top: 5vw;
    /* text-align: center; */
}

.container{
    text-align: left;
    background-color: white;
    border: 1px solid rgba(223, 223, 223, 0.5);
    border-radius: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}


.plus-minus-input {
    font-size: 1vw;
    margin-right: 1vw;
    }
    
.plus-minus-input .input-group-field {
    text-align: center;
    padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
}

/* .plus-minus-input .input-group-button .circle {
    border-radius: 10%;
    padding: 0.25em 0.8em;

} */

.addingOption{
    margin: auto;
    margin-top: 4vw;
}

/* .addingOption button{
    height: 3vw;
    font-size: 1vw;
} */

input[type=number]{
    height: 3vw;
    width: 6vw;
    font-size: 1.5vw;
    
}

.increment-decrement-button{
    height: 3vw;
    width: 3vw;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    border-radius: 10%;
    background-color: white;
}

.input-group-button :hover{
    color: red;
    border-color: red;
}

.addToCartButton {
    width: 30vw;
    font-size: 1.5vw;
}