.container{
    padding-top: 5vw;
    padding-bottom: 10vw;
}

.shopsInformations h5{
    color:#a10000;
}

.shopsInformations{
    width: 100%;
    padding-top: 5vw;

}

.workingHours{
    color: #a10000;

}