.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 2vw;
    margin-top: 5vw;

  }

  .message{
    text-align: center;
    margin-top: 2vw;
  }

  .title{
    text-align: center;
    margin-top: 5vw;
  }

  .card-img-top{
    opacity: 1;
    transition: .5s ease;
    /* backface-visibility: hidden; */
  }

  .card:hover .card-img-top {
    opacity: 0.5;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .card:hover .middle {
    opacity: 1;
}

.plus-minus-input {
  font-size: 1vw;
  margin-right: 1vw;
  }
  
  .plus-minus-input .input-group-field {
    text-align: center;
    padding: 1rem;
  }
  
  .plus-minus-input .input-group-field::-webkit-inner-spin-button,
  .plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  /* .plus-minus-input .input-group-button .circle {
    border-radius: 10%;
    padding: 0.25em 0.8em;
  
  } */
  
  .addingOption{
    display: inline-flex;
    margin: auto;
  }
  
  .addingOption button{
    height: 2.5vw;
    font-size: 1vw;
  }
  
  input[type=number]{
    height: 2.5vw;
    width: 4vw;
    font-size: 1.1vw;
    text-align: center;
    
  }
  
  .increment-decrement-button{
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    border-radius: 10%;
    background-color: white;
  }
  
  .input-group-button :hover{
    color: red;
    border-color: red;
  }

  /* to hide arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}