<h1 class="title">{{title}}</h1>

<div *ngIf="!searchedItemsExists">
    <div class="message">
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
    </div>

    <h5 class="message">{{message}}</h5>
</div>


<div class="wrapper">

    <div class="card" style="width: 20vw;" *ngFor="let item of searchedItems">
        <img class="card-img-top" src={{item.photo}} alt="Item card">
        <div class="middle">
            <div class="text"><button type="button" class="btn btn-secondary" (click)="itemDetails(item)">
                    Detalji
                </button></div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{item.name}} {{item.description.weight}}</h5>

            <div *ngIf="item.onSale == true; else itemIsNotOnSale">
                <p class="card-text" [ngStyle]="{'color': 'red'}">{{item.discountPrice}} RSD</p>
            </div>


            <ng-template #itemIsNotOnSale>
                <div>
                    <p class="card-text">{{item.price}} RSD</p>
                </div>
            </ng-template>

            <div class="addingOption" *ngIf="user.type!=1">

                <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                <div class="input-group plus-minus-input">
                    <div class="input-group-button">
                        <button type="button" class="increment-decrement-button" data-quantity="minus"
                            data-field="quantity" (click)="itemQuantityDecrement(itemQuantity.id)">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <input #itemQuantity class="input-group-field" type="number" name="quantity" value="0" min="0"
                        id="itemQuantity{{item.id}}">
                    <div class="input-group-button">
                        <button type="button" class="increment-decrement-button" data-quantity="plus"
                            data-field="quantity" (click)="itemQuantityIncrement(itemQuantity.id)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>




                <button type="button" class="btn btn-success"
                    (click)="addToCart(item, itemQuantity.value, itemQuantity.id)">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                        </path>
                    </svg> -->
                    Dodaj
                </button>

            </div>
            <div *ngIf="user.type==1 && item.onSale==false">
                <input #discount class="input-group-field" type="number" value="0" name="discount" min="0" max="100">%
                <button type="button" class="btn btn-success" (click)="addToPromotion(item.id, discount.value)">
                    Postavi popust
                </button>
            </div>
            <div *ngIf="user.type==1 && item.onSale==true">
                <button type="button" class="btn btn-danger" (click)="cancelPromotion(item.id)">
                    Prekini promociju
                </button>
            </div>
        </div>
    </div>
</div>