.orDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
}

.formForOneItemDiv{
    margin-top: 5vw;
    border:1px solid black;
    border-radius: 0.5vw;
    text-align: center;
    background-color: white;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

table{
    text-align: left;
    margin: 0 auto;
    margin-top: 3vw;

}

table td{
    padding: 0.5vw;
    /* text-align: left; */
}


.multipleItemsDivWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.multipleItemsDiv{
    /* margin-top: 20vw; */
    border:1px solid black;
    border-radius: 0.5vw;
    text-align: center;
    background-color: white;
    padding-top: 2vw;
    padding-bottom: 2vw;
    /* height: 20vw; */
    width: 80%;
    height: 20%;
    position: relative;
    
}

h1{
    margin-top: 3vw;
}

select{
    width: 100%;
}

textarea{
    width: 100%;
    height: 15vw;
    padding: 0.3vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    padding: 0.3vw;
}

.selectMultipleItemsFileButton{
    /* margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    text-align: left;
    
}

.uploadMultipleItemsFileButton{
    margin: 0;
    position: absolute;
    top: 80%;
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rowForSelectingMultipleItemsFile{
    margin-top: 2vw;
}