<h1>Dodavanje novog artikla</h1>


<div class="row">
    <div class=" col-sm-1"></div>
    <div class=" col-sm-4 formForOneItemDiv">
        <h2>Jedan artikal</h2>
        <table>
            <tr>
                <td><b>Naziv artikla:</b></td>
                <td><input type="text" [(ngModel)]="itemName"></td>
            </tr>
            <tr>
                <td><b>Cena:</b></td>
                <td><input type="number" [(ngModel)]="price"></td>
            </tr>
            <tr>
                <td><b>Kategorija:</b></td>
                <td>
                    <select (change)="onChangeSelectCategory()" [(ngModel)]="category">
                        <option *ngFor="let category of categories" value={{category}}>
                            {{category}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Podkategorija:</b></td>
                <td><select (change)="onChangeSelectCategory()" [(ngModel)]="subcategory">
                        <option *ngFor="let subcategory of subcategories" value={{subcategory}}>
                            {{subcategory}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Količina:</b></td>
                <td><input type="number" [(ngModel)]="quantity"></td>
            </tr>
            <tr>
                <td><b>Opis:</b></td>
            </tr>
            <tr>
                <td>Težina/Zapremina:</td>
                <td><input type="text" [(ngModel)]="weight"></td>
            </tr>
            <tr>
                <td>Zemlja porekla:</td>
                <td><input type="text" [(ngModel)]="countryOfOrigin"></td>
            </tr>
            <tr>
                <td>Sastojci:</td>
                <td><textarea [(ngModel)]="ingredients"></textarea></td>
            </tr>
            <tr>
                <td>Proizvodjač:</td>
                <td><input type="text" [(ngModel)]="manufacturer"></td>
            </tr>
            <tr>
                <td>Brend:</td>
                <td><input type="text" [(ngModel)]="brand"></td>
            </tr>
            <tr>
                <td>Kratak opis:</td>
                <td><textarea [(ngModel)]="briefDescription"></textarea></td>
            </tr>
            <tr>
                <td>Fotografija:</td>
                <td *ngIf="!photo"><input style="display: none" type="file" (change)="selectImage($event)" #fileInput>
                    <button class="btn btn-warning" (click)="fileInput.click()">Dodaj fotografiju</button>
                </td>
                <td *ngIf="photo"> {{photo.name}} <button class="btn btn-danger" (click)="removeSelectedImage()">Ukloni
                        fotografiju</button>
                </td>
            </tr>

        </table>
        <br />
        <button type="button" class="btn btn-success" (click)="addNewItem()">
            Dodaj novi artikal
        </button>
        {{message}}
    </div>
    <div class=" col-sm-2 orDiv">ili </div>

    <div class=" col-sm-4">
        <div class="multipleItemsDivWrapper">
            <div class="multipleItemsDiv">
                <h2>Više artikala</h2>


                <div class="row rowForSelectingMultipleItemsFile">
                    <div class=" col-sm-2"></div>
                    <div class=" col-sm-4">{{multipleItemsFileName}}</div>
                    <div class=" col-sm-4">
                        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>

                        <button class="btn btn-warning selectMultipleItemsFileButton"
                            (click)="fileInput.click()">Izaberi
                            fajl</button>
                    </div>
                    <div class=" col-sm-2"></div>
                </div>
                <button type="button" class="btn btn-success uploadMultipleItemsFileButton" (click)="addNewItems()">
                    Dodaj nove artikle
                </button>
                <!-- <button (click)="onUpload()">Upload!</button> -->
            </div>
        </div>
    </div>
    <div class=" col-sm-1"></div>
</div>