<div *ngIf="allItemsAddedInTheCart.length == 0; else cartIsNotEmpty">
    <div class="text-center emptyCart">
        <img src="../../assets/emptyCart.png">
        <h2>Vaša korpa je prazna</h2>
    </div>

</div>
<ng-template #cartIsNotEmpty>
    <h1>Vaša korpa</h1>
</ng-template>



<div *ngFor="let itemAddedInTheCart of allItemsAddedInTheCart; last as isLast">

    <div class="container">
        <div class="row itemInTheCart">
            <div class="col-md-6"><img class="card-img-top" src={{itemAddedInTheCart.item.photo}} alt="..."></div>
            <div class="col-md-6 ">

                <h1>{{itemAddedInTheCart.item.name}} {{itemAddedInTheCart.item.description.weight}}</h1>
                <br />
                <div class="row">
                    <div class="col-md-6 itemQuantity">Količina: {{itemAddedInTheCart.quantity}}</div>
                    <div class="col-md-6 itemPrice">
                        <!-- price formating using @angular/common decimalPipe  -->
                        {{itemAddedInTheCart.quantity*(itemAddedInTheCart.item.price-itemAddedInTheCart.item.price*itemAddedInTheCart.item.discount/100)
                        | number: '1.2-2':'sr'}}
                        RSD
                        <br>
                        <button type="button" class="btn btn-danger"
                            (click)="removeItemFromCart(itemAddedInTheCart.item.id, itemAddedInTheCart.quantity*(itemAddedInTheCart.item.price-itemAddedInTheCart.item.price*itemAddedInTheCart.item.discount/100))">Ukloni
                            artikal</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- display div only if ngFor itteration is the last one -->
        <div class="row totalPrice" *ngIf="isLast">

            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2>UKUPNO: {{totalPrice| number: '1.2-2':'sr'}} RSD</h2>
            </div>

        </div>


    </div>





</div>