img{
    width: 60%;
}

.container{
    margin-top: 4vw;
}

.itemQuantity{
    text-align: left;
    font-size: 1.5vw;
}

.itemPrice{
    text-align: right;
    font-size: 1.5vw;
    padding-right: 2vw;
}

h1 {
    text-align: center;
    margin-top: 5vw;   
}


.container h1{
    text-align: left;
    padding-right: 2vw;
}

.totalPrice{
    text-align: right;
    color: brown;
    /* margin-right: 5%; */
}

.emptyCart img{
    width: 15%;
    margin-top: 7vw;
    margin-bottom: 3vw;

}

.itemInTheCart{
    border: 1px solid rgba(223, 223, 223, 0.5);
    border-radius: 1vw;
    background-color: white;
}
/* 
.plus-minus-input {
    font-size: 1.5vw;
    margin-right: 1vw;
    margin-top: 5vw;
}
    
.plus-minus-input .input-group-field {
    text-align: center;
    padding: 1rem;
    width: 6vw;
    height: 3vw;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
}


.increment-decrement-button{
    font-size: 1vw;
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
    margin-left: 1vw;
} */